<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
 <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>webapp.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageOne</servlet-name>
		<servlet-class>webapp.PageOne</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageTwo</servlet-name>
		<servlet-class>webapp.PageTwo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageThird</servlet-name>
		<servlet-class>webapp.PageThird</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageFourth</servlet-name>
		<servlet-class>webapp.PageFourth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PagePit37</servlet-name>
		<servlet-class>webapp.PagePit37</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageOne</servlet-name>
		<url-pattern>/pageOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageTwo</servlet-name>
		<url-pattern>/pageTwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageThird</servlet-name>
		<url-pattern>/pageThird</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageFourth</servlet-name>
		<url-pattern>/pageFourth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PagePit37</servlet-name>
		<url-pattern>/pagePit37</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>CharacterEncodingFilter</display-name>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>filters.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>


